<html>
	<head>
		{% load static %}
		{% load jchart %}
		<link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
		<script src="{% static 'stats/stats.js' %}"></script>
	</head>
	<body>
		<div class="tab">
			<a href="{% url 'stats:locations' %}" target="tableFrame">
				<button class="tablinks">Skaters</button>
			</a>
			<a href="goalies.html" target="statsview">
				<button class="tablinks">Goalies</button>
			</a>
			<a href="comparator.html" target="statsview">
				<button class="tablinks">Teams</button>
		 	</a>
		</div>
		<div id="statoptions">
			<form action="{% url 'stats:locations' %}" method="get">{% csrf_token %}
				<label class="titleLabel">League:</label>
				<select name="league" id="league" value="NHL">
					<option id="1" 
					        value="1"
					        {% if "1" == leagueChoice %}selected="selected"{% endif %}>
					        NHL
					</option>
					<option id="3" 
					        value="3"
					        {% if "3" == leagueChoice %}selected="selected"{% endif %}>
					        OHL
					</option>
					<option id="4" 
					        value="4"
					        {% if "4" == leagueChoice %}selected="selected"{% endif %}>
					        QMJHL
					</option>
					<option id="5" 
					        value="5"
					        {% if "5" == leagueChoice %}selected="selected"{% endif %}>
					        WHL
					</option>
				</select>
				<label class="titleLabel">Season Range:</label>
				<select name="minSeason" id="minSeason" value="57">
					{% if leagueChoice == 1 %}
					{% for s1 in seasons %}
					<option id="{{ s1.season_id }}" 
					        value="{{ s1.season_id }}"
					        {% if s1 == season1Choice %}selected="selected"{% endif %}>{{ s1.season_id }}</option>
					{% endfor %}
					{% endif %}
					{% if leagueChoice == 2 %}
					{% for s1 in seasons %}
					<option id="{{ s1.season_id }}" 
					        value="{{ s1.season_id }}"
					        {% if s1 == season1Choice %}selected="selected"{% endif %}>
					        {{ s1.name }}
					</option>
					{% endfor %}
					{% endif %}
				</select>
				<label>to</label>
				<select name="maxSeason" id="maxSeason" value="57">
					{% if leagueChoice == 1 %}
					{% for s2 in seasons %}
					<option id="{{ s2.season_id }}" 
					        value="{{ s2.season_id }}"
					        {% if s2 == season2Choice %}selected="selected"{% endif %}>{{ s2.season_id }}</option>
					{% endfor %}
					{% endif %}
					{% if leagueChoice == 2 %}
					{% for s2 in seasons %}
					<option id="{{ s2.season_id }}" 
					        value="{{ s2.season_id }}"
					        {% if s2 == season2Choice %}selected="selected"{% endif %}>{{ s1.name }}</option>
					{% endfor %}
					{% endif %}
				</select>
				<br>
				<label class="titleLabel">Position:</label>
				<select name="position" id="position" value="All Skaters">
					<option id="1" 
					        value="1"
					        {% if "1" == positionChoice %}selected="selected"{% endif %}>
					        All Skaters
					</option>
					<option id="2" 
					        value="2"
					        {% if "2" == positionChoice %}selected="selected"{% endif %}>
					        All Forwards
					</option>
					<option id="3" 
					        value="3"
					        {% if "3" == positionChoice %}selected="selected"{% endif %}>
					        Defensemen
					</option>
					<option id="4" 
					        value="4"
					        {% if "4" == positionChoice %}selected="selected"{% endif %}>
					        Centers
					</option>
					<option id="5" 
					        value="5"
					        {% if "5" == positionChoice %}selected="selected"{% endif %}>
					        Left Wingers
					</option>
					<option id="6" 
					        value="6"
					        {% if "6" == positionChoice %}selected="selected"{% endif %}>
					        Right Wingers
					</option>
					<option id="7" 
					        value="7"
					        {% if "7" == positionChoice %}selected="selected"{% endif %}>
					        All Wingers
					</option>
				</select>
				<label class="titleLabel">Player</label>
				<select id="skaters" name="skaters">
				</select>
				<br>
				<label class="titleLabel">Report:</label>
				<select name="report" id="report" value="blocks">
					<option id="1" 
					        value="1"
					        {% if "1" == reportChoice %}selected="selected"{% endif %}>
					        Blocked Shots
					</option>
					<option id="2" 
					        value="2"
					        {% if "2" == reportChoice %}selected="selected"{% endif %}>
					        Faceoffs
					</option>
					<option id="3" 
					        value="3"
					        {% if "3" == reportChoice %}selected="selected"{% endif %}>
					        Giveaways
					</option>
					<option id="4" 
					        value="4"
					        {% if "4" == reportChoice %}selected="selected"{% endif %}>
					        Goals
					</option>
					<option id="5" 
					        value="5"
					        {% if "5" == reportChoice %}selected="selected"{% endif %}>
					        Hits
					</option>
					<option id="6" 
					        value="6"
					        {% if "6" == reportChoice %}selected="selected"{% endif %}>
					        Penalties
					</option>
					<option id="7" 
					        value="7"
					        {% if "7" == reportChoice %}selected="selected"{% endif %}>
					        Shots
					</option>
					<option id="8" 
					        value="8"
					        {% if "8" == reportChoice %}selected="selected"{% endif %}>
					        Takeaways
					</option>
				</select>
				<br>
				<input class="submit" type="submit" value="Select" />
			</div>
	</form>
	<div class="stattable" width="80%">
			{% render_chart bubble_chart leagueChoice season1Choice season2Choice skaterChoice reportChoice %}
	</div>
	<div id="footer">
		<address><a href="mailto:bonhamdaniel@gmail.com">e-mail benchwarmer</a></address>
		<p>&#169;2017 Dan Bonham</p>
	</div>
	</body>
</html>